@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Philosopher:ital,wght@0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  --grn: #6cceaf;
  --orng: orange;
}

.header {
  height: 6rem;
  background-color: var(--grn);
}

.header-title {
  line-height: 6rem;
  padding-left: 2rem;

  font-family: 'Montserrat Alternates', sans-serif;;
}

.column-container {
  text-align: center;
}

.column {
  display: inline-block;
  height: 60rem;
  width: 40rem;
  text-align: justify;
  vertical-align: top;

  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  border: .5rem solid var(--orng);
  border-radius: 3rem;
}

.column.two {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.column-title {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.items-list {
  padding: 0 1rem 0 2rem;
  list-style-type: circle;
}

li {
  font-family: 'Philosopher', sans-serif;
  font-style: italic;
  font-size: 1.5rem;

  text-align: justify;
}

.footer {
  height: 4rem;
  background-color: var(--grn);
  padding-left: 2rem;

  font-family: 'Philosopher', sans-serif;
  font-style: italic;
  line-height: 4rem;
  font-size: 2rem;
}