@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Philosopher:ital,wght@0,700;1,400&display=swap');

.header {
  height: 60px;
  background-color: #6cceaf;
}

.header-title {
  line-height: 60px;
  padding-left: 20px;

  font-family: 'Montserrat Alternates', sans-serif;;
}

.column {
  display: inline-block;
  height: 600px;
  width: 400px;
  vertical-align: top;

  padding: 20px;
  margin: 20px 0 20px 15px;

  border: 5px solid orange;
  border-radius: 30px;
}

.column-title {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
}

.items-list {
  padding: 0 10px 0 20px;
  list-style-type: circle;
}

.content {
  font-family: 'Philosopher', sans-serif;
  font-style: italic;

  text-align: justify;
}

.footer {
  height: 40px;
  background-color: #6cceaf;
  padding-left: 20px;

  font-family: 'Philosopher', sans-serif;
  font-style: italic;
  line-height: 40px;
  font-size: 20px;
}