* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

:root {
  --col-red: #E50043;
  --col-pink: #F8BFC7;
}

body {
  font-size: 10px;
}

/* Header block */

.header {
  position: fixed;
  display: flex;
  height: 5rem;
  width: 100%;

  background-color: #fff;

  justify-content: space-between;
  align-items: center;
}

.logotype {
  padding-left: 2rem;
  color: var(--col-red);
  font-size: 3rem;
}

.navigation-links {
  display: flex;
  width: auto;
  list-style-type: none;
}

.link {
  padding-right: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;

  color: var(--col-red);

}

/* Hero container */

.main-container {
  padding-top: 5rem;
}

.hero-container {
  height: 60rem;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(https://stasokoleso.github.io/webDev_mcs/landing_evian/img/evian_origins_logo.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  font-size: 5rem;
  color: var(--col-red);
}

/* Content block */

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Mission */

.mission-container {
  height: 28rem;
  width: 80rem;

  margin-top: 5rem;

  box-sizing: border-box;
  border: .3rem solid var(--col-pink);
  border-radius: 2rem;

  padding: 2.4rem;

  font-family: Arial;
  font-size: 2rem;
  font-weight: 400;
}

.mission-title {
  font-weight: 600;
  margin: 1rem 0;
}

.mission-text {
  margin: 2rem 0;
}

/* Products */

.content-product {
  display: flex;
  width: 80rem;

  margin-top: 5rem;

  align-items: center;
  justify-content: space-between;
}

.product-img {
  height: 60rem;
  width: auto;
}

.product-name {
  padding-top: 2rem;
  text-align: center;

  font-family: Arial;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Product card */

.product-card {
  width: 80rem;
  height: 28rem;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 5rem;

  box-sizing: border-box;
  border: .3rem solid var(--col-pink);
  border-radius: 2rem;
}

.product-card-img {
  margin: auto 8rem;
}

.product-card-details {
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: Arial;
  font-size: 2rem;
  font-weight: 400;
}

.text {

}

/* Footer block */

.footer {
  display: flex;
  height: 5rem;
  
  margin-top: 5rem;
  align-items: center;
  justify-content: flex-start;

  background: var(--col-pink);
}

.copyright {
  font-size: 2rem;
  font-family: Arial;
  font-weight: 400;
  color: white;
  padding-left: 2rem;
}

