:root {
  --blue-sapphire: #0B4F6C;
  --sea-green: #00A6A6;
  --tangerine: #F08700;
  --orange-web: #F49F0A;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.header, .footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  padding-left: 3rem;
  background-color: var(--blue-sapphire);
  color: var(--orange-web);
}

.navigation-list {
  text-decoration: none;
  list-style: none;
}

li {
  display: inline;
  margin-right: 2rem;
}

li > a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--orange-web);
}

main {
  height: calc(100vh - 8rem);
  background: rgb(244,159,10);
  background: radial-gradient(circle at top right, rgba(244,159,10,1) 0%, rgba(240,135,0,1) 11%, rgba(0,166,166,1) 59%);
  background-position: top;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: calc(100vh - 15rem);
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 35vw;
  margin-left: 5rem;
  padding: 1rem;

  background-color: var(--tangerine);
  border-radius: 1rem;
  border: 1px solid var(--orange-web);
  box-shadow: 0 0 .5rem var(--blue-sapphire);
}

label, input, select, textarea {
  display: block;
  width: 100%;
  margin: 0 auto .5rem;

  font-size: 1.7rem;
  line-height: 2.5rem;
}

input {
  padding-left: 1rem;
  font-size: 1.5rem;
  border-radius: .5rem;
}

select {
  font-size: 1.5rem;
}

span {
  font-size: 1.5rem;
}

textarea {
  resize: none;
  padding: 1rem;
  border-radius: 0.5rem;
}

.radio-form {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  /* margin: auto; */
}

label[for="rating"] {
  width: auto;
  margin: 0 0 .5rem 0;
}

input[type="radio"] {
  width: auto;
  margin: 0 1rem;
}

input[type="submit"] {
  width: 10rem;
  padding: 0;
  margin-top: 1rem;
  background-color: var(--blue-sapphire);
  color: snow;
  box-shadow: 0 0 .5rem var(--blue-sapphire);
}

.greetings {
  height: fit-content;
  width: 50%;
  margin: 0 auto;

  background-color: var(--tangerine);
  box-shadow: 0 0 .5rem var(--blue-sapphire);
  border-radius: .5rem;

  font-size: 3rem;
  text-align: center;
  line-height: 5rem;
  color: snow;
}

.page-name {
  font-size: 2rem;
}